[submodule "home/.vim/bundle/vim-asciidoc"]
	path = home/.vim/bundle/vim-asciidoc
	url = https://github.com/asciidoc/vim-asciidoc.git
[submodule "home/.vim/bundle/command-t"]
	path = home/.vim/bundle/command-t
	url = https://github.com/wincent/command-t.git
[submodule "home/.vim/bundle/molokai"]
	path = home/.vim/bundle/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "home/.vim/bundle/vim-colorschemes"]
	path = home/.vim/bundle/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "home/.vim/bundle/vim-copy-as-rtf"]
	path = home/.vim/bundle/vim-copy-as-rtf
	url = https://github.com/zerowidth/vim-copy-as-rtf.git
[submodule "home/.vim/bundle/vim-go"]
	path = home/.vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "home/.vim/bundle/vim-golo"]
	path = home/.vim/bundle/vim-golo
	url = https://github.com/jponge/vim-golo.git
[submodule "home/.vim/bundle/nerdtree"]
	path = home/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
