[user]
	name = Julien Ponge
	email = julien.ponge@gmail.com

[color]
	ui = true

[push]
	default = matching

[rerere]
	enabled = true

[credential]
	helper = osxkeychain
[core]
	excludesfile = /Users/jponge/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/jponge/.stCommitMsg
